

<%= form_tag 'weather/search', method: :get do %>
  <%= label_tag :zipcode, "What's your zipcode?" %>
  <%= text_field_tag :zipcode %>
  <%= submit_tag "Is it gonna rain?"%>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<h3>Your cookies are belong to us @ <%= @cookie  %></h3>