<<<<<<< HEAD
<h1>Actors#index</h1>

<ul>
  <% @actors.each do |actor| %>
  <li><%= link_to "#{actor.name}", actor %></li>
  <% end %>
</ul>

<%= link_to "Add Actor", new_actor_path %>
<%= link_to "Back", :root %>
=======
<h1>Actors</h1>

<ul>
  <% @actors.each do |star| %>
  <li><%= link_to star.name, actor_path(star) %></li>
  <% end %>
</ul>

<%= link_to "Add new actor", new_actor_path %>
<br><br>
<%= link_to "Back to home", root_path %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
